@page "/GetAllProducts"
@model HandsOnModel.Pages.GetAllModel
@{
}
<div class="container">
    <form method="post">
        <table class="table">
            <tr>
                <td>Id</td>
                <td>
                    <input type="number" asp-for="@Model.Product.Id" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" asp-for="@Model.Product.Name" />
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="number" asp-for="@Model.Product.Price" />
                </td>
            </tr>
            <tr>
                <td>Stock</td>
                <td>
                    <input type="number" asp-for="@Model.Product.Stock" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Add" />
                </td>
            </tr>
        </table>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.List)
            {
                <tr>
                    <td>@item.Id</td>
                     <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                </tr>
            }
        </tbody>
    </table>
</div>
